In [1]:
import pandas as pd #for data reading and manupulation
import numpy as np # for data manupulation
import matplotlib.pyplot as plt # for data Visualization
import seaborn as sns # for data Visualization
%matplotlib inline
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, BaggingClassifier, AdaBoostClassifier
from sklearn.cross_validation import train_test_split,cross_val_score, cross_val_predict
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import hamming_loss

C:\Users\Raheem Nasiru\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [581]:
train = pd.read_csv('training.csv')
test = pd.read_csv('mobile_test.csv')

In [582]:
pos = pd.read_csv('pos_for_upload_win.csv')
atm = pd.read_csv('atm_for_upload_win.csv')
ban = pd.read_csv('banks_for_upload_win.csv')
mob = pd.read_csv('mobilemoney_agents_for_upload_win.csv', encoding='latin')

C:\Users\Raheem Nasiru\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [583]:
mobile = train['mobile_money_classification']

In [584]:
train = train.drop(['mobile_money', 'savings', 'borrowing', 'insurance', 'mobile_money_classification'], axis=1)

In [585]:
# storing number of rows as an a variable for later use
len_train=train.shape[0]

In [586]:
train.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude
0,5086,98,2,3,1,1,2,2,0,0,...,2,-1,2,-1,1,-1,4,4,-4.460442,29.811396
1,1258,40,1,1,3,5,1,1,1,0,...,1,4,1,5,4,4,1,4,-6.176438,39.244871
2,331,18,2,4,6,3,2,1,0,0,...,2,-1,2,-1,1,-1,1,1,-6.825702,37.652798
3,6729,50,1,1,3,1,1,1,0,0,...,1,2,2,-1,4,-1,1,4,-3.372049,35.808307
4,8671,34,1,1,1,1,2,1,0,1,...,2,-1,1,1,1,-1,1,4,-7.179645,31.039095

In [587]:
#test = test.drop('ID', axis=1)

In [588]:
#coalescing the two columns for data treatment
data=train.append(test)
data=data.reset_index()
data=data.drop('index',axis=1)

In [589]:
len(data)

9459

In [590]:
mob = mob['region']

In [591]:
mob_region = mob[:9459]

In [592]:
mob_region = pd.DataFrame(mob_region, columns=['region'])

In [593]:
data['latitude2'] = np.round(data.Latitude)
data['longitude2'] = np.round(data.Longitude)

#data['distance'] = distance(**data[['Latitude', 'Longitude', 'latitude2', 'longitude2']])

In [594]:
# Provided function
import numpy as np
def haversine(lon1, lat1, lon2, lat2, earth_radius=6367):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = earth_radius * c
    return km

In [595]:
def haversine_est(lon1, lat1, lon2, lat2):
    R = 6371.0 
    """
    Estimation with equirectangular distance approximation. 
    Since the distance is relatively small, you can use the equirectangular distance approximation. 
    This approximation is faster than using the Haversine formula. 
    So, to get the distance from your reference point (lat1/lon1) to the point your are testing (lat2/lon2),
    use the formula below. 
    Important Note: you need to convert all lat/lon points to radians:
    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    x = (lon2 - lon1) * np.cos( 0.5*(lat2+lat1) )
    y = lat2 - lat1
    km = R * np.sqrt( x*x + y*y )
    return km

In [596]:
data['distance'] = data[['latitude2', 'longitude2', 'Latitude','Longitude']].apply(lambda x: haversine(x[1], x[0], x[3], x[2]), axis=1)

In [597]:
data.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude,latitude2,longitude2,distance
0,5086,98,2,3,1,1,2,2,0,0,...,-1,1,-1,4,4,-4.460442,29.811396,-4.0,30.0,55.271127
1,1258,40,1,1,3,5,1,1,1,0,...,5,4,4,1,4,-6.176438,39.244871,-6.0,39.0,33.414768
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,-1,1,1,-6.825702,37.652798,-7.0,38.0,42.921155
3,6729,50,1,1,3,1,1,1,0,0,...,-1,4,-1,1,4,-3.372049,35.808307,-3.0,36.0,46.494014
4,8671,34,1,1,1,1,2,1,0,1,...,1,1,-1,1,4,-7.179645,31.039095,-7.0,31.0,20.423306

In [598]:
data['add_12_13'] = data['Q12'] + data['Q13']

In [91]:
#data['Q8_1_7'] = data['Q8_1'] + data['Q8_7']

In [431]:
data['Q8_9_10'] = data['Q8_10'] + data['Q8_9']

In [536]:
data['qs'] = data['Q8_2'] + data['Q8_3'] + data['Q8_4'] + data['Q8_5'] + data['Q8_6']

In [24]:
#data['salary_count'] = data['Q8_1'].map(data.groupby('Q8_1')['Q9'].count())

In [208]:
#data.sort_values(['Q2','Q3'], inplace = True, ascending=True)

In [21]:
data.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,latitude2,longitude2,distance,add_12_13,qs
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,-4.0,30.0,55.271127,1,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,-6.0,39.0,33.414768,5,0
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,-7.0,38.0,42.921155,1,0
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,-3.0,36.0,46.494014,3,1
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,-7.0,31.0,20.423306,1,1

In [27]:
#data['dis_age'] = data['Q1'] / data['distance']

In [29]:
#data['c'] = data[['Q13', 'Q14']].map(data.groupby(['Q13', 'Q14'])['Q5'].count())

In [599]:
data['region'] = mob_region

In [600]:
data['region'] = data['region'].fillna('Dar es Salaam')

In [601]:
#data['Q2_Q4'] = data['Q2'] * data['Q4']

In [602]:
#data['q18_19'] = data['Q18'] + data['Q19']

In [603]:
data['Q4'] = data['Q4'].astype('object')

In [604]:
data['Q3'] = data['Q3'].astype('object')

In [605]:
data['Q2'] = data['Q2'].astype('object')

In [606]:
data['Q19'] = data['Q19'].astype('object')

In [607]:
data['Q16'] = data['Q16'].astype('object')

In [608]:
data['Q17'] = data['Q17'].astype('object')

In [609]:
data['Q15'] = data['Q15'].astype('object')

In [610]:
data['Q18'] = data['Q18'].astype('object')

In [611]:
data['Q5'] = data['Q5'].astype('object')

In [612]:
data['Q13'] = data['Q13'].astype('object')

In [613]:
data['Q14'] = data['Q14'].astype('object')

In [614]:
data['Q9'] = data['Q9'].astype('object')

In [615]:
data['Q10'] = data['Q10'].astype('object')

In [616]:
data['Q11'] = data['Q11'].astype('object')

In [553]:
data['Q6'] = data['Q6'].astype('object')

In [554]:
data['Q7'] = data['Q7'].astype('object')

In [451]:
data['Q8_1'] = data['Q8_1'].astype('object')

In [452]:
data['Q8_2'] = data['Q8_2'].astype('object')

In [453]:
data['Q8_3'] = data['Q8_3'].astype('object')

In [454]:
data['Q8_4'] = data['Q8_4'].astype('object')

In [455]:
data['Q8_5'] = data['Q8_5'].astype('object')

In [456]:
data['Q8_6'] = data['Q8_6'].astype('object')

In [457]:
data['Q8_7'] = data['Q8_7'].astype('object')

In [458]:
data['Q8_8'] = data['Q8_8'].astype('object')

In [459]:
data['Q8_9'] = data['Q8_9'].astype('object')

In [460]:
data['Q8_10'] = data['Q8_10'].astype('object')

In [461]:
data['Q8_11'] = data['Q8_11'].astype('object')

In [462]:
data['Q12'] = data['Q12'].astype('object')

In [561]:
data['age_bin'] = data['age_bin'].astype('object')

In [ ]:
data.head().T

In [617]:
data['lat_lon'] = data['Latitude'] + data['Longitude']

In [465]:
data.columns

Index(['ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8_1', 'Q8_2', 'Q8_3',
       'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10', 'Q8_11', 'Q9',
       'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19',
       'Latitude', 'Longitude', 'latitude2', 'longitude2', 'distance',
       'add_12_13', 'Q8_9_10', 'qs', 'region', 'lat_lon'],
      dtype='object')

In [618]:
data1 = data.drop(['Latitude', 'Longitude','latitude2', 'longitude2'], axis=1)

In [619]:
data = data.drop('ID', axis=1)

In [620]:
data = pd.get_dummies(data)

In [621]:
data.head()

,Q1,Q6,Q7,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,...,region_Mtwara,region_Mwanza,region_Pwani,region_Rukwa,region_Ruvuma,region_Shinyanga,region_Singida,region_Tabora,region_Tanga,region_Zanzibar
0,98,2,2,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,40,1,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,18,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,50,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,34,2,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [560]:
data['age_bin'] = pd.cut(data['Q1'], bins=[0, 14, 20, 40, 120], labels=[0, 1, 2, 3])

In [46]:
# Calculate all correlations in dataframe
corrs = data.corr()

In [160]:
#corrs = corrs.sort_values(mobile, ascending = False)

# Ten most positive correlations
#pd.DataFrame(corrs['finan'].head(10))

In [165]:
# Set the threshold
threshold = 0.8

# Empty dictionary to hold correlated variables
above_threshold_vars = {}

# For each column, record the variables that are above the threshold
for col in corrs:
    above_threshold_vars[col] = list(corrs.index[corrs[col] > threshold])

In [166]:


# Track columns to remove and columns already examined
cols_to_remove = []
cols_seen = []
cols_to_remove_pair = []

# Iterate through columns and correlated columns
for key, value in above_threshold_vars.items():
    # Keep track of columns already examined
    cols_seen.append(key)
    for x in value:
        if x == key:
            next
        else:
            # Only want to remove one in a pair
            if x not in cols_seen:
                cols_to_remove.append(x)
                cols_to_remove_pair.append(key)
            
cols_to_remove = list(set(cols_to_remove))
print('Number of columns to remove: ', len(cols_to_remove))

Number of columns to remove:  8

In [167]:
cols_to_remove

['Q15_-1',
 'Q11',
 'Q13_-1',
 'Q8_1_7',
 'latitude2',
 'Q9',
 'Q8_9_10',
 'longitude2']

In [134]:
data3 = data.drop(['Q13_-1',
 'Q11',
 'longitude2',
 'Q15_-1',
 'latitude2',
 'lat_lon',
 'Q19_4',
 'Q9',
 'Q18_4',
 'Q10'], axis=1)

In [622]:
# Splitting test and train data
train_df=data[:len_train]
test_df=data[len_train:]

In [623]:
# Removing Price from independen t variable data and keeping only price in the other
X = train_df
y= mobile

In [566]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1990)

In [567]:
import xgboost as xgb

In [568]:
from catboost import CatBoostClassifier

In [632]:
for i in range(5):
    cb_model = CatBoostClassifier(iterations=300,
                              learning_rate=0.1,
                              depth=6,loss_function='MultiClass',#,scale_pos_weight=200,
                             l2_leaf_reg=40,
                             bootstrap_type='Bernoulli',
                              #subsample=0.7,
                              #eval_metric='CrossEntropy',
                              metric_period=20,
                              #od_type='Iter',
                              #od_wait=45,
                              random_seed=101,
                              allow_writing_files=False)

In [366]:
#params = {'colsample_bylevel':0.3, 'learning_rate':0.1, 'max_depth':6, 'alpha':10, 'n_estimators':150}

In [367]:
#cv = xgb.cv(dtrain=data_matrix, params=params, nfold=3, num_boost_round=30, metrics='logloss', as_pandas=True,
           #seed=123)

In [368]:
#num_round = 20

In [369]:
#xgb_d = xgb.train(params, data_matrix, num_round)

In [370]:
###Train the model with the best params
modelXg = XGBClassifier(scale_pos_weight=200,colsample_bylevel=0.3,learning_rate=0.1, max_depth=4, alpha=10, n_estimators=200,objective='multi:softprob')

In [633]:
cb_model.fit(X, y)

0:	learn: -1.3137335	total: 750ms	remaining: 3m 44s
20:	learn: -0.8562796	total: 10.6s	remaining: 2m 20s
40:	learn: -0.7982638	total: 21s	remaining: 2m 12s
60:	learn: -0.7734565	total: 30.4s	remaining: 1m 59s
80:	learn: -0.7610327	total: 40.6s	remaining: 1m 49s
100:	learn: -0.7502179	total: 51s	remaining: 1m 40s
120:	learn: -0.7392188	total: 1m 1s	remaining: 1m 31s
140:	learn: -0.7294508	total: 1m 10s	remaining: 1m 19s
160:	learn: -0.7210001	total: 1m 23s	remaining: 1m 11s
180:	learn: -0.7136740	total: 1m 32s	remaining: 1m
200:	learn: -0.7062901	total: 1m 41s	remaining: 49.8s
220:	learn: -0.6996014	total: 1m 50s	remaining: 39.4s
240:	learn: -0.6938008	total: 1m 59s	remaining: 29.3s
260:	learn: -0.6881083	total: 2m 9s	remaining: 19.3s
280:	learn: -0.6835234	total: 2m 17s	remaining: 9.28s
299:	learn: -0.6787197	total: 2m 25s	remaining: 0us

In [634]:
y_xg = cb_model.predict_proba(X_test)

CatBoostError: c:/goagent/pipelines/buildmaster/catboost.git/catboost/libs/data_new/model_dataset_compatibility.cpp:151: Feature Q8_1 from pool must be Q6.

In [502]:
from sklearn.model_selection import StratifiedKFold, KFold

In [132]:
i=1
kf = KFold(n_splits=5,random_state=1,shuffle=True)
for train_index,test_index in kf.split(X,y):
    print('\n{} of kfold {}'.format(i,kf.n_splits))
    xtr,xvl = X.loc[train_index],X.loc[test_index]
    ytr,yvl = y[train_index],y[test_index]
    model = cb_model
    model.fit(xtr, ytr)
    #print('accuracy_score',log_loss (yvl,pred))
    i+=1

1 of kfold 3

2 of kfold 3

3 of kfold 3

In [635]:
pred = cb_model.predict_proba(X)

In [636]:
#preds = model.predict_proba(X)

In [637]:
from sklearn.metrics import log_loss

In [638]:
log_loss(y, pred)

0.67871968808220429

In [639]:
log_loss(y_test, y_xg)

0.71282579201257812

## for test set

In [640]:
test_set_predictions =  cb_model.predict_proba(test_df)

In [641]:
d = {"ID": test["ID"], 'no_financial_services':test_set_predictions[:, 0], 'other_only':test_set_predictions[:, 1],
    'mm_only':test_set_predictions[:, 2], 'mm_plus':test_set_predictions[:, 3]}
df_predictions = pd.DataFrame(data=d)
df_predictions = df_predictions[["ID", 'no_financial_services','other_only','mm_only','mm_plus']]

In [642]:
df_predictions.head()

     ID  no_financial_services  other_only   mm_only   mm_plus
0  2352               0.001054    0.001907  0.159415  0.837624
1  8208               0.010637    0.026451  0.167194  0.795719
2  2785               0.001694    0.004772  0.102539  0.890996
3  2967               0.311309    0.588810  0.019156  0.080724
4  1697               0.000833    0.001826  0.057160  0.940181

In [231]:
df_predictions.to_csv('zt64.csv',index=False)

In [192]:
df_predictions.to_csv('zt59.csv',index=False)

In [643]:
df_predictions.to_csv('zt83.csv',index=False)