In [2]:
import pandas as pd #for data reading and manupulation
import numpy as np # for data manupulation
import matplotlib.pyplot as plt # for data Visualization
import seaborn as sns # for data Visualization
%matplotlib inline
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, BaggingClassifier, AdaBoostClassifier
from sklearn.cross_validation import train_test_split,cross_val_score, cross_val_predict
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import hamming_loss
from sklearn.feature_extraction.text import TfidfVectorizer

C:\Users\Raheem Nasiru\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
train = pd.read_csv('Enriched_training_nas.csv')
test = pd.read_csv('Enriched_mobile_test_nas.csv')

In [4]:
mob = pd.read_csv('mobilemoney_agents_for_upload_win.csv', encoding='latin')

C:\Users\Raheem Nasiru\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
map_train = pd.read_csv('nas_train') # region and disrict file
map_tests = pd.read_csv('nas_test')

In [6]:
map_train['region'].unique()

array(['Arusha', 'Manyara', 'Pwani', 'Shinyanga', 'Kagera', 'Mara',
       'Mbeya', 'Dodoma', 'Mwanza', 'Kilimanjaro', 'Tanga', 'Tabora',
       'Dar es Salaam', 'Singida', 'Iringa', 'Kigoma', 'Morogoro', 'Lindi',
       'Mtwara', 'Ruvuma', 'Rukwa', 'Zanzibar'], dtype=object)

In [7]:
train.head()

,OBJECTID,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,...,Population to polygon size rating for the country,Apportionment confidence for the country,HasData,2016 Total Population,2016 Purchasing Power: Total,2016 Pop 25+/Edu: Primary,2016 Pop 25+/Edu: Secondary,2016 Pop 25+/Edu: University/Related,x,y
0,1,5086,98,2,3,1,1,2,2,0,...,2.834,2.614,1,4142.0,3.386526e+09,1229.0,111.0,11.0,29.811396,-4.460442
1,2,1258,40,1,1,3,5,1,1,1,...,2.834,2.614,1,76383.0,1.421899e+11,4664.0,21664.0,1461.0,39.244871,-6.176438
2,3,331,18,2,4,6,3,2,1,0,...,2.834,2.614,1,109482.0,1.167192e+11,37082.0,4785.0,598.0,37.652798,-6.825702
3,4,6729,50,1,1,3,1,1,1,0,...,2.834,2.614,1,2111.0,2.794528e+09,569.0,144.0,27.0,35.808307,-3.372049
4,5,8671,34,1,1,1,1,2,1,0,...,2.834,2.614,0,0.0,0.000000e+00,0.0,0.0,0.0,31.039095,-7.179645

In [8]:
test.head()

,OBJECTID,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,...,bufferRadii,aggregationMethod,Population to polygon size rating for the country,Apportionment confidence for the country,HasData,2016 Total Population,2016 Purchasing Power: Total,2016 Total Households,x,y
0,1,3669,36,2,2,3,1,1,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,1,170.0,1.867756e+08,41.0,34.672094,-8.907215
1,2,5223,27,1,1,3,1,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,1,561.0,6.552594e+08,132.0,35.997953,-8.204943
2,3,7275,25,2,4,6,5,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,1,10523.0,9.366909e+09,1776.0,32.407155,-4.100044
3,4,7459,32,1,1,1,1,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,0,0.0,0.000000e+00,0.0,32.242549,-4.054934
4,5,3547,39,1,1,6,1,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,0,0.0,0.000000e+00,0.0,31.730506,-2.888644

In [9]:
train.columns

Index(['OBJECTID', 'ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8_1',
       'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10',
       'Q8_11', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17',
       'Q18', 'Q19', 'Latitude', 'Longitude', 'mobile_money', 'savings',
       'borrowing', 'insurance', 'mobile_money_classification', 'ID.1',
       'sourceCountry', 'ENRICH_FID', 'areaType', 'bufferUnits',
       'bufferUnitsAlias', 'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country', 'HasData',
       '2016 Total Population', '2016 Purchasing Power: Total',
       '2016 Pop 25+/Edu: Primary', '2016 Pop 25+/Edu: Secondary',
       '2016 Pop 25+/Edu: University/Related', 'x', 'y'],
      dtype='object')

In [10]:
test.columns

Index(['OBJECTID', 'ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8_1',
       'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10',
       'Q8_11', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17',
       'Q18', 'Q19', 'Latitude', 'Longitude', 'ID.1', 'sourceCountry',
       'ENRICH_FID', 'areaType', 'bufferUnits', 'bufferUnitsAlias',
       'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country', 'HasData',
       '2016 Total Population', '2016 Purchasing Power: Total',
       '2016 Total Households', 'x', 'y'],
      dtype='object')

In [11]:
mobile = train['mobile_money_classification']

In [12]:
train = train.drop(['mobile_money', 'savings', 'borrowing', 'insurance', 'mobile_money_classification'], axis=1)

In [13]:
# storing number of rows as an a variable for later use
len_train=train.shape[0]

In [14]:
test = test.drop(['OBJECTID','ID.1', 'sourceCountry',
       'ENRICH_FID', 'areaType', 'bufferUnits', 'bufferUnitsAlias',
       'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country','2016 Total Households', 'x', 'y'], axis=1)

In [15]:
train = train.drop(['OBJECTID', 'ID.1', 'sourceCountry',
       'ENRICH_FID', 'areaType', 'bufferUnits', 'bufferUnitsAlias',
       'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country','2016 Pop 25+/Edu: Primary', '2016 Pop 25+/Edu: Secondary',
       '2016 Pop 25+/Edu: University/Related', 'x', 'y'], axis=1)

In [16]:
train.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude,HasData,2016 Total Population,2016 Purchasing Power: Total
0,5086,98,2,3,1,1,2,2,0,0,...,-1,1,-1,4,4,-4.460442,29.811396,1,4142.0,3.386526e+09
1,1258,40,1,1,3,5,1,1,1,0,...,5,4,4,1,4,-6.176438,39.244871,1,76383.0,1.421899e+11
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,-1,1,1,-6.825702,37.652798,1,109482.0,1.167192e+11
3,6729,50,1,1,3,1,1,1,0,0,...,-1,4,-1,1,4,-3.372049,35.808307,1,2111.0,2.794528e+09
4,8671,34,1,1,1,1,2,1,0,1,...,1,1,-1,1,4,-7.179645,31.039095,0,0.0,0.000000e+00

In [17]:
test.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude,HasData,2016 Total Population,2016 Purchasing Power: Total
0,3669,36,2,2,3,1,1,1,0,1,...,5,1,-1,1,4,-8.907215,34.672094,1,170.0,1.867756e+08
1,5223,27,1,1,3,1,2,1,0,1,...,6,1,-1,1,1,-8.204943,35.997953,1,561.0,6.552594e+08
2,7275,25,2,4,6,5,2,1,0,1,...,4,5,-1,1,1,-4.100044,32.407155,1,10523.0,9.366909e+09
3,7459,32,1,1,1,1,2,1,0,1,...,-1,1,-1,4,4,-4.054934,32.242549,0,0.0,0.000000e+00
4,3547,39,1,1,6,1,2,1,0,1,...,1,3,3,1,1,-2.888644,31.730506,0,0.0,0.000000e+00

In [18]:
map_train['ID'].nunique()

7094

In [19]:
map_tests['ID'].nunique()

2365

In [20]:
train = train.merge(map_train, on='ID') # joining the region and district

In [21]:
test = test.merge(map_tests, on='ID')

In [22]:
#coalescing the two columns for data treatment
data=train.append(test)
data=data.reset_index()
data=data.drop('index',axis=1)

In [23]:
# Rounding the longtide and latitude for Harvesine,bearing array and dummy harmattan
data['latitude2'] = np.round(data.Latitude)
data['longitude2'] = np.round(data.Longitude)

In [24]:
# Provided function
import numpy as np
def haversine(lon1, lat1, lon2, lat2, earth_radius=6367):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = earth_radius * c
    return km

In [25]:
def haversine_est(lon1, lat1, lon2, lat2):
    R = 6371.0 
    """
    Estimation with equirectangular distance approximation. 
    Since the distance is relatively small, you can use the equirectangular distance approximation. 
    This approximation is faster than using the Haversine formula. 
    So, to get the distance from your reference point (lat1/lon1) to the point your are testing (lat2/lon2),
    use the formula below. 
    Important Note: you need to convert all lat/lon points to radians:
    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    x = (lon2 - lon1) * np.cos( 0.5*(lat2+lat1) )
    y = lat2 - lat1
    km = R * np.sqrt( x*x + y*y )
    return km

In [26]:
data['distance'] = data[['latitude2', 'longitude2', 'Latitude','Longitude']].apply(lambda x: haversine(x[1], x[0], x[3], x[2]), axis=1)

In [27]:
def dummy_manhattan_distance(lon1, lat1, lon2, lat2):
    a = haversine(lon1, lat1, lon2, lat2)
    b = haversine(lon1, lat1, lon2, lat2)
    return a + b

In [28]:
data['distance_duumy'] = data[['latitude2', 'longitude2', 'Latitude','Longitude']].apply(lambda x: dummy_manhattan_distance(x[1], x[0], x[3], x[2]), axis=1)

In [29]:
def bearing_array(lon1, lat1, lon2, lat2):
    AVG_EARTH_RADIUS = 6371  # in km
    lng_delta_rad = np.radians(lon2 - lon1)
    lon1, lat1, lon2, lat2 = map(np.radians, (lon1, lat1, lon2, lat2))
    y = np.sin(lng_delta_rad) * np.cos(lat2)
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad)
    return np.degrees(np.arctan2(y, x))

In [30]:
data['distance_bearing'] = data[['latitude2', 'longitude2', 'Latitude','Longitude']].apply(lambda x: bearing_array(x[1], x[0], x[3], x[2]), axis=1)

# Feature interaction

In [31]:
data['Q8_1_7'] = data['Q8_1'] + data['Q8_7']

In [32]:
data['Q8_9_10'] = data['Q8_10'] + data['Q8_9']

In [33]:
data['qs'] = data['Q8_2'] + data['Q8_3'] + data['Q8_4'] + data['Q8_5'] + data['Q8_6']

In [34]:
data['Q3'] = data['Q3'].astype('object') # take Q3 to object and dummies

In [35]:
data['lat_lon'] = data['Latitude'] + data['Longitude'] # adding longitude and latitude

In [36]:
data = data.drop('ID', axis=1)

In [37]:
data.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,Q8_3,...,region,latitude2,longitude2,distance,distance_duumy,distance_bearing,Q8_1_7,Q8_9_10,qs,lat_lon
0,98,2,3,1,1,2,2,0,0,0,...,Kigoma,-4.0,30.0,55.271127,110.542253,-157.786948,0,1,0,25.350954
1,40,1,1,3,5,1,1,1,0,0,...,Zanzibar,-6.0,39.0,33.414768,66.829536,125.940889,1,0,0,33.068433
2,18,2,4,6,3,2,1,0,0,0,...,Morogoro,-7.0,38.0,42.921155,85.842310,-63.196030,0,1,0,30.827096
3,50,1,1,3,1,1,1,0,0,0,...,Arusha,-3.0,36.0,46.494014,92.988027,-152.782230,0,0,1,32.436258
4,34,1,1,1,1,2,1,0,1,0,...,Rukwa,-7.0,31.0,20.423306,40.846612,167.815988,0,0,1,23.859450

In [38]:
data = pd.get_dummies(data)

In [39]:
data.head()

,Q1,Q2,Q4,Q5,Q6,Q7,Q8_1,Q8_2,Q8_3,Q8_4,...,region_Mtwara,region_Mwanza,region_Pwani,region_Rukwa,region_Ruvuma,region_Shinyanga,region_Singida,region_Tabora,region_Tanga,region_Zanzibar
0,98,2,1,1,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40,1,3,5,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,18,2,6,3,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,50,1,3,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,34,1,1,1,2,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [40]:
# Splitting test and train data
train_df=data[:len_train]
test_df=data[len_train:]

In [41]:
# Removing Price from independen t variable data and keeping only price in the other
X = train_df
y= mobile

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
from sklearn import metrics

# using catboost with different Paramters and Stack it with Weighted Average of the 3 model and Round to 3

In [44]:
import xgboost as xgb

In [45]:
from catboost import CatBoostClassifier

In [46]:
#cat = CatBoostClassifier(loss_function='MultiClass')

In [47]:
#gb =XGBClassifier(n_estimators=200, objective='multi:softprob',gamma=0.5,colsample_bylevel=0.7) CatBoostClassifier(loss_function='MultiClass')

In [48]:
for i in range(5):
    cb_model = CatBoostClassifier(iterations=420,
                              learning_rate=0.1,
                              depth=6,loss_function='MultiClass',#,scale_pos_weight=200,
                             l2_leaf_reg=10,
                             bootstrap_type='Bernoulli',
                              subsample=0.7,
                              #leaf_estimation_iterations=10,
                              metric_period=20,
                              #od_type='Iter',
                              #od_wait=45,
                              random_seed=42,
                              allow_writing_files=False)

In [49]:
cb_model.fit(X,y)

0:	learn: -1.2948722	total: 1.51s	remaining: 10m 31s
20:	learn: -0.8286814	total: 19.5s	remaining: 6m 10s
40:	learn: -0.7745317	total: 34.5s	remaining: 5m 18s
60:	learn: -0.7508234	total: 49.4s	remaining: 4m 50s
80:	learn: -0.7353918	total: 1m 2s	remaining: 4m 21s
100:	learn: -0.7232368	total: 1m 19s	remaining: 4m 10s
120:	learn: -0.7103068	total: 1m 33s	remaining: 3m 50s
140:	learn: -0.6988756	total: 1m 46s	remaining: 3m 30s
160:	learn: -0.6908904	total: 1m 56s	remaining: 3m 7s
180:	learn: -0.6837903	total: 2m 7s	remaining: 2m 48s
200:	learn: -0.6756696	total: 2m 26s	remaining: 2m 39s
220:	learn: -0.6677922	total: 2m 43s	remaining: 2m 26s
240:	learn: -0.6607858	total: 3m	remaining: 2m 13s
260:	learn: -0.6537183	total: 3m 14s	remaining: 1m 58s
280:	learn: -0.6475890	total: 3m 28s	remaining: 1m 42s
300:	learn: -0.6400614	total: 3m 45s	remaining: 1m 29s
320:	learn: -0.6326724	total: 3m 57s	remaining: 1m 13s
340:	learn: -0.6258011	total: 4m 14s	remaining: 59s
360:	learn: -0.6205500	total: 4m 34s	remaining: 44.8s
380:	learn: -0.6151701	total: 4m 53s	remaining: 30s
400:	learn: -0.6107528	total: 5m 11s	remaining: 14.7s
419:	learn: -0.6064701	total: 5m 25s	remaining: 0us

In [50]:
y_xg = cb_model.predict_proba(X_test)

In [51]:
preds = cb_model.predict_proba(X)

In [52]:
from sklearn.metrics import log_loss

In [53]:
log_loss(y, preds)

0.60647009648939421

# for model 1 on test set

In [54]:
test_set_predictions1 =  cb_model.predict_proba(test_df)

In [55]:
d = {"ID": test["ID"], 'no_financial_services':test_set_predictions1[:, 0], 'other_only':test_set_predictions1[:, 1],
    'mm_only':test_set_predictions1[:, 2], 'mm_plus':test_set_predictions1[:, 3]}
df_predictions1 = pd.DataFrame(data=d)
df_predictions1 = df_predictions1[["ID", 'no_financial_services','other_only','mm_only','mm_plus']]

In [56]:
df_predictions1.head()

     ID  no_financial_services  other_only   mm_only   mm_plus
0  3669               0.008462    0.029459  0.245143  0.716937
1  5223               0.000406    0.006008  0.049617  0.943969
2  7275               0.000268    0.001345  0.154038  0.844350
3  7459               0.161758    0.794898  0.014359  0.028985
4  3547               0.000271    0.001169  0.028604  0.969956

In [57]:
df_predictions1.to_csv('ranked1.csv', index=False)

# For Model 2 training

In [58]:
for i in range(5):
    cb_model1 = CatBoostClassifier(iterations=400,
                              learning_rate=0.1,
                              depth=6,loss_function='MultiClass',#,scale_pos_weight=200,
                             l2_leaf_reg=5,
                             bootstrap_type='Bayesian',
                              #subsample=0.7,
                              leaf_estimation_iterations=1,
                              metric_period=20,
                              #od_type='Iter',
                              #od_wait=45,
                              random_seed=1990,
                              allow_writing_files=False)

In [59]:
cb_model1.fit(X, y)

0:	learn: -1.2863727	total: 868ms	remaining: 5m 46s
20:	learn: -0.8168542	total: 15.8s	remaining: 4m 45s
40:	learn: -0.7578999	total: 29.7s	remaining: 4m 20s
60:	learn: -0.7362138	total: 41.9s	remaining: 3m 52s
80:	learn: -0.7222279	total: 52.5s	remaining: 3m 26s
100:	learn: -0.7100010	total: 1m 3s	remaining: 3m 8s
120:	learn: -0.6988875	total: 1m 15s	remaining: 2m 53s
140:	learn: -0.6888717	total: 1m 26s	remaining: 2m 39s
160:	learn: -0.6817381	total: 1m 37s	remaining: 2m 25s
180:	learn: -0.6741198	total: 1m 49s	remaining: 2m 11s
200:	learn: -0.6672134	total: 2m	remaining: 1m 59s
220:	learn: -0.6605241	total: 2m 11s	remaining: 1m 46s
240:	learn: -0.6543320	total: 2m 22s	remaining: 1m 34s
260:	learn: -0.6484066	total: 2m 35s	remaining: 1m 22s
280:	learn: -0.6432224	total: 2m 50s	remaining: 1m 12s
300:	learn: -0.6365880	total: 3m 3s	remaining: 1m
320:	learn: -0.6323378	total: 3m 19s	remaining: 49.1s
340:	learn: -0.6275700	total: 3m 34s	remaining: 37.1s
360:	learn: -0.6243850	total: 3m 48s	remaining: 24.7s
380:	learn: -0.6202423	total: 4m 3s	remaining: 12.1s
399:	learn: -0.6168046	total: 4m 17s	remaining: 0us

In [60]:
preds2 = cb_model1.predict_proba(X)

In [61]:
log_loss(y, preds2)

0.6168046032960226

# for model 2 on test set

In [62]:
test_set_predictions2 =  cb_model1.predict_proba(test_df)

In [63]:
d = {"ID": test["ID"], 'no_financial_services':test_set_predictions2[:, 0], 'other_only':test_set_predictions2[:, 1],
    'mm_only':test_set_predictions2[:, 2], 'mm_plus':test_set_predictions2[:, 3]}
df_predictions2 = pd.DataFrame(data=d)
df_predictions2 = df_predictions2[["ID", 'no_financial_services','other_only','mm_only','mm_plus']]

In [64]:
df_predictions2.head()

     ID  no_financial_services  other_only   mm_only   mm_plus
0  3669               0.008804    0.031320  0.287453  0.672423
1  5223               0.000457    0.005482  0.035811  0.958250
2  7275               0.000246    0.001983  0.125137  0.872634
3  7459               0.216767    0.724172  0.022679  0.036382
4  3547               0.000318    0.001406  0.030348  0.967928

In [65]:
df_predictions2.to_csv('ranked2.csv', index=False)

# For model 3

In [66]:
for i in range(5):
    cb_model2 = CatBoostClassifier(iterations=450,
                              learning_rate=0.1,
                              depth=6,loss_function='MultiClass',#,scale_pos_weight=200,
                            l2_leaf_reg=10,
                             bootstrap_type='Bernoulli',
                              subsample=0.7,
                              #leaf_estimation_iterations=1,
                              metric_period=20,
                              #od_type='Iter',
                              #od_wait=45,
                              random_seed=24,
                              allow_writing_files=False)

In [67]:
cb_model2.fit(X, y)

0:	learn: -1.2923299	total: 906ms	remaining: 6m 46s
20:	learn: -0.8292113	total: 12.9s	remaining: 4m 23s
40:	learn: -0.7728118	total: 24.6s	remaining: 4m 5s
60:	learn: -0.7479919	total: 37.3s	remaining: 3m 57s
80:	learn: -0.7332276	total: 50.3s	remaining: 3m 49s
100:	learn: -0.7204912	total: 1m 2s	remaining: 3m 34s
120:	learn: -0.7088830	total: 1m 13s	remaining: 3m 19s
140:	learn: -0.6972101	total: 1m 24s	remaining: 3m 5s
160:	learn: -0.6885864	total: 1m 35s	remaining: 2m 51s
180:	learn: -0.6811620	total: 1m 46s	remaining: 2m 37s
200:	learn: -0.6728695	total: 1m 57s	remaining: 2m 25s
220:	learn: -0.6664573	total: 2m 8s	remaining: 2m 12s
240:	learn: -0.6595399	total: 2m 19s	remaining: 2m
260:	learn: -0.6517117	total: 2m 30s	remaining: 1m 49s
280:	learn: -0.6441970	total: 2m 41s	remaining: 1m 37s
300:	learn: -0.6389381	total: 2m 52s	remaining: 1m 25s
320:	learn: -0.6328274	total: 3m 3s	remaining: 1m 13s
340:	learn: -0.6277435	total: 3m 14s	remaining: 1m 2s
360:	learn: -0.6227477	total: 3m 25s	remaining: 50.7s
380:	learn: -0.6183154	total: 3m 36s	remaining: 39.2s
400:	learn: -0.6129756	total: 3m 47s	remaining: 27.8s
420:	learn: -0.6082857	total: 3m 58s	remaining: 16.4s
440:	learn: -0.6037357	total: 4m 10s	remaining: 5.1s
449:	learn: -0.6021214	total: 4m 14s	remaining: 0us

## for test set

In [68]:
test_set_predictions3 =  cb_model2.predict_proba(test_df)

In [69]:
d = {"ID": test["ID"], 'no_financial_services':test_set_predictions3[:, 0], 'other_only':test_set_predictions3[:, 1],
    'mm_only':test_set_predictions3[:, 2], 'mm_plus':test_set_predictions3[:, 3]}
df_predictions3 = pd.DataFrame(data=d)
df_predictions3 = df_predictions3[["ID", 'no_financial_services','other_only','mm_only','mm_plus']]

In [70]:
df_predictions3.head()

     ID  no_financial_services  other_only   mm_only   mm_plus
0  3669               0.007967    0.026987  0.186923  0.778124
1  5223               0.000539    0.007621  0.051026  0.940814
2  7275               0.000286    0.001744  0.123701  0.874269
3  7459               0.137329    0.812466  0.020944  0.029262
4  3547               0.000253    0.000818  0.030565  0.968364

In [71]:
df_predictions3.to_csv('ranked3.csv',index=False)

# Stacking the 3 model

In [72]:
df_predictions1.to_csv('ranked1.csv',index=False)

In [73]:
df_predictions2.to_csv('ranked2.csv',index=False)

In [74]:
df_predictions3.to_csv('ranked3.csv',index=False)

In [75]:
a = pd.read_csv('ranked1.csv')

In [76]:
b = pd.read_csv('ranked2.csv')
c = pd.read_csv('ranked3.csv')

In [77]:
a = a.drop('ID', axis=1)
b = b.drop('ID', axis=1)
c = c.drop('ID', axis=1)

In [78]:
stack = (0.7 * a + 0.1 * b + 0.2 * c)

In [79]:
stack = stack.round(3)

In [80]:
stack['ID'] = test['ID']

In [81]:
stack = stack[['ID', 'no_financial_services','other_only','mm_only','mm_plus']]

In [82]:
stack.head()

     ID  no_financial_services  other_only  mm_only  mm_plus
0  3669                  0.008       0.029    0.242    0.720
1  5223                  0.000       0.006    0.047    0.946
2  7275                  0.000       0.002    0.142    0.856
3  7459                  0.168       0.784    0.017    0.031
4  3547                  0.000       0.001    0.029    0.969

In [83]:
stack.to_csv('stk2.csv',index=False)

In [84]:
nnn

NameError: name 'nnn' is not defined

In [ ]:
d = pd.read_csv('stk1.csv')

In [ ]:
d.head()