In [2]:
import pandas as pd #for data reading and manupulation
import numpy as np # for data manupulation
import matplotlib.pyplot as plt # for data Visualization
import seaborn as sns # for data Visualization
%matplotlib inline
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, BaggingClassifier, AdaBoostClassifier
from sklearn.cross_validation import train_test_split,cross_val_score, cross_val_predict
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import hamming_loss

C:\Users\Raheem Nasiru\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [403]:
train = pd.read_csv('Enriched_training_nas.csv')
test = pd.read_csv('Enriched_mobile_test_nas.csv')

In [264]:
mob = pd.read_csv('mobilemoney_agents_for_upload_win.csv', encoding='latin')

C:\Users\Raheem Nasiru\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
map_train = pd.read_csv('nas_train')
map_tests = pd.read_csv('nas_test')

In [266]:
map_train['region'].unique()

array(['Arusha', 'Manyara', 'Pwani', 'Shinyanga', 'Kagera', 'Mara',
       'Mbeya', 'Dodoma', 'Mwanza', 'Kilimanjaro', 'Tanga', 'Tabora',
       'Dar es Salaam', 'Singida', 'Iringa', 'Kigoma', 'Morogoro', 'Lindi',
       'Mtwara', 'Ruvuma', 'Rukwa', 'Zanzibar'], dtype=object)

In [197]:
train.head()

,OBJECTID,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,...,Population to polygon size rating for the country,Apportionment confidence for the country,HasData,2016 Total Population,2016 Purchasing Power: Total,2016 Pop 25+/Edu: Primary,2016 Pop 25+/Edu: Secondary,2016 Pop 25+/Edu: University/Related,x,y
0,1,5086,98,2,3,1,1,2,2,0,...,2.834,2.614,1,4142.0,3.386526e+09,1229.0,111.0,11.0,29.811396,-4.460442
1,2,1258,40,1,1,3,5,1,1,1,...,2.834,2.614,1,76383.0,1.421899e+11,4664.0,21664.0,1461.0,39.244871,-6.176438
2,3,331,18,2,4,6,3,2,1,0,...,2.834,2.614,1,109482.0,1.167192e+11,37082.0,4785.0,598.0,37.652798,-6.825702
3,4,6729,50,1,1,3,1,1,1,0,...,2.834,2.614,1,2111.0,2.794528e+09,569.0,144.0,27.0,35.808307,-3.372049
4,5,8671,34,1,1,1,1,2,1,0,...,2.834,2.614,0,0.0,0.000000e+00,0.0,0.0,0.0,31.039095,-7.179645

In [198]:
test.head()

,OBJECTID,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,...,bufferRadii,aggregationMethod,Population to polygon size rating for the country,Apportionment confidence for the country,HasData,2016 Total Population,2016 Purchasing Power: Total,2016 Total Households,x,y
0,1,3669,36,2,2,3,1,1,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,1,170.0,1.867756e+08,41.0,34.672094,-8.907215
1,2,5223,27,1,1,3,1,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,1,561.0,6.552594e+08,132.0,35.997953,-8.204943
2,3,7275,25,2,4,6,5,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,1,10523.0,9.366909e+09,1776.0,32.407155,-4.100044
3,4,7459,32,1,1,1,1,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,0,0.0,0.000000e+00,0.0,32.242549,-4.054934
4,5,3547,39,1,1,6,1,2,1,0,...,1.0,BlockApportionment:TZ.Regions,2.834,2.614,0,0.0,0.000000e+00,0.0,31.730506,-2.888644

In [199]:
train.columns

Index(['OBJECTID', 'ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8_1',
       'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10',
       'Q8_11', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17',
       'Q18', 'Q19', 'Latitude', 'Longitude', 'mobile_money', 'savings',
       'borrowing', 'insurance', 'mobile_money_classification', 'ID.1',
       'sourceCountry', 'ENRICH_FID', 'areaType', 'bufferUnits',
       'bufferUnitsAlias', 'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country', 'HasData',
       '2016 Total Population', '2016 Purchasing Power: Total',
       '2016 Pop 25+/Edu: Primary', '2016 Pop 25+/Edu: Secondary',
       '2016 Pop 25+/Edu: University/Related', 'x', 'y'],
      dtype='object')

In [200]:
test.columns

Index(['OBJECTID', 'ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8_1',
       'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10',
       'Q8_11', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17',
       'Q18', 'Q19', 'Latitude', 'Longitude', 'ID.1', 'sourceCountry',
       'ENRICH_FID', 'areaType', 'bufferUnits', 'bufferUnitsAlias',
       'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country', 'HasData',
       '2016 Total Population', '2016 Purchasing Power: Total',
       '2016 Total Households', 'x', 'y'],
      dtype='object')

In [267]:
mobile = train['mobile_money_classification']

In [268]:
train = train.drop(['mobile_money', 'savings', 'borrowing', 'insurance', 'mobile_money_classification'], axis=1)

In [269]:
# storing number of rows as an a variable for later use
len_train=train.shape[0]

In [270]:
test = test.drop(['OBJECTID','ID.1', 'sourceCountry',
       'ENRICH_FID', 'areaType', 'bufferUnits', 'bufferUnitsAlias',
       'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country','2016 Total Households', 'x', 'y'], axis=1)

In [271]:
train = train.drop(['OBJECTID', 'ID.1', 'sourceCountry',
       'ENRICH_FID', 'areaType', 'bufferUnits', 'bufferUnitsAlias',
       'bufferRadii', 'aggregationMethod',
       'Population to polygon size rating for the country',
       'Apportionment confidence for the country','2016 Pop 25+/Edu: Primary', '2016 Pop 25+/Edu: Secondary',
       '2016 Pop 25+/Edu: University/Related', 'x', 'y'], axis=1)

In [272]:
train.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude,HasData,2016 Total Population,2016 Purchasing Power: Total
0,5086,98,2,3,1,1,2,2,0,0,...,-1,1,-1,4,4,-4.460442,29.811396,1,4142.0,3.386526e+09
1,1258,40,1,1,3,5,1,1,1,0,...,5,4,4,1,4,-6.176438,39.244871,1,76383.0,1.421899e+11
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,-1,1,1,-6.825702,37.652798,1,109482.0,1.167192e+11
3,6729,50,1,1,3,1,1,1,0,0,...,-1,4,-1,1,4,-3.372049,35.808307,1,2111.0,2.794528e+09
4,8671,34,1,1,1,1,2,1,0,1,...,1,1,-1,1,4,-7.179645,31.039095,0,0.0,0.000000e+00

In [273]:
test.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude,HasData,2016 Total Population,2016 Purchasing Power: Total
0,3669,36,2,2,3,1,1,1,0,1,...,5,1,-1,1,4,-8.907215,34.672094,1,170.0,1.867756e+08
1,5223,27,1,1,3,1,2,1,0,1,...,6,1,-1,1,1,-8.204943,35.997953,1,561.0,6.552594e+08
2,7275,25,2,4,6,5,2,1,0,1,...,4,5,-1,1,1,-4.100044,32.407155,1,10523.0,9.366909e+09
3,7459,32,1,1,1,1,2,1,0,1,...,-1,1,-1,4,4,-4.054934,32.242549,0,0.0,0.000000e+00
4,3547,39,1,1,6,1,2,1,0,1,...,1,3,3,1,1,-2.888644,31.730506,0,0.0,0.000000e+00

In [274]:
map_train['ID'].nunique()

7094

In [275]:
map_tests['ID'].nunique()

2365

In [276]:
train = train.merge(map_train, on='ID')

In [277]:
test = test.merge(map_tests, on='ID')

In [278]:
#train_lat['ID'] = train['ID']

In [279]:
#test_lat['ID'] = test['ID']

In [280]:
#train = train.merge(train_lat, on='ID')

In [281]:
#train_lat.head()

In [282]:
#test = test.merge(test_lat, on='ID')

In [283]:
#coalescing the two columns for data treatment
data=train.append(test)
data=data.reset_index()
data=data.drop('index',axis=1)

In [218]:
#data = data.drop(['2016 Purchasing Power: Total', '2016 Total Population'], axis=1)

In [219]:
mob = mob[['region', 'district', 'ward']]

In [147]:
mob = mob['region']

In [148]:
mob_region = mob[:9459]

In [149]:
mob_region = pd.DataFrame(mob_region, columns=['region'])

In [150]:
data['region'] = mob_region['region']

In [151]:
data['region'] = data['region'].fillna('Dar es Salaam')

In [284]:
data['latitude2'] = np.round(data.Latitude)
data['longitude2'] = np.round(data.Longitude)

#data['distance'] = distance(**data[['Latitude', 'Longitude', 'latitude2', 'longitude2']])

In [285]:
# Provided function
import numpy as np
def haversine(lon1, lat1, lon2, lat2, earth_radius=6367):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = earth_radius * c
    return km

In [286]:
def haversine_est(lon1, lat1, lon2, lat2):
    R = 6371.0 
    """
    Estimation with equirectangular distance approximation. 
    Since the distance is relatively small, you can use the equirectangular distance approximation. 
    This approximation is faster than using the Haversine formula. 
    So, to get the distance from your reference point (lat1/lon1) to the point your are testing (lat2/lon2),
    use the formula below. 
    Important Note: you need to convert all lat/lon points to radians:
    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    x = (lon2 - lon1) * np.cos( 0.5*(lat2+lat1) )
    y = lat2 - lat1
    km = R * np.sqrt( x*x + y*y )
    return km

In [223]:
#data.head()

In [287]:
data['distance'] = data[['latitude2', 'longitude2', 'Latitude','Longitude']].apply(lambda x: haversine(x[1], x[0], x[3], x[2]), axis=1)

In [288]:
def dummy_manhattan_distance(lon1, lat1, lon2, lat2):
    a = haversine(lon1, lat1, lon2, lat2)
    b = haversine(lon1, lat1, lon2, lat2)
    return a + b

In [289]:
data['distance_duumy'] = data[['latitude2', 'longitude2', 'Latitude','Longitude']].apply(lambda x: dummy_manhattan_distance(x[1], x[0], x[3], x[2]), axis=1)

In [290]:
def bearing_array(lon1, lat1, lon2, lat2):
    AVG_EARTH_RADIUS = 6371  # in km
    lng_delta_rad = np.radians(lon2 - lon1)
    lon1, lat1, lon2, lat2 = map(np.radians, (lon1, lat1, lon2, lat2))
    y = np.sin(lng_delta_rad) * np.cos(lat2)
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad)
    return np.degrees(np.arctan2(y, x))

In [291]:
data['distance_bearing'] = data[['latitude2', 'longitude2', 'Latitude','Longitude']].apply(lambda x: bearing_array(x[1], x[0], x[3], x[2]), axis=1)

In [292]:
data['Q8_1_7'] = data['Q8_1'] + data['Q8_7']

In [293]:
data['Q8_9_10'] = data['Q8_10'] + data['Q8_9']

In [294]:
data['qs'] = data['Q8_2'] + data['Q8_3'] + data['Q8_4'] + data['Q8_5'] + data['Q8_6']

In [232]:
pd.crosstab(data['Q8_1'], data['Q9'])

Q9      -1    1    2   3   4   5   6   7
Q8_1
0     8871    0    0   0   0   0   0   0
1        0  227  209  82   1   3  53  13

In [233]:
# using croostab value counts to generate meaningful features
data['Q8_1&Q9_trans'] = data['Q9'].map(data.groupby(data['Q9'])['Q8_1'].count())

In [234]:
data['Q8_2&Q10_trans'] = data['Q10'].map(data.groupby(data['Q10'])['Q8_2'].count())

In [235]:
data['Q8_3&Q11_trans'] = data['Q11'].map(data.groupby(data['Q11'])['Q8_3'].count())

In [236]:
data.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,longitude2,distance,distance_duumy,distance_bearing,Q8_1_7,Q8_9_10,qs,Q8_1&Q9_trans,Q8_2&Q10_trans,Q8_3&Q11_trans
0,5086,98,2,3,1,1,2,2,0,0,...,30.0,55.271127,110.542253,-157.786948,0,1,0,8871,3660,8957
1,1258,40,1,1,3,5,1,1,1,0,...,39.0,33.414768,66.829536,125.940889,1,0,0,227,3660,8957
2,331,18,2,4,6,3,2,1,0,0,...,38.0,42.921155,85.842310,-63.196030,0,1,0,8871,3660,8957
3,6729,50,1,1,3,1,1,1,0,0,...,36.0,46.494014,92.988027,-152.782230,0,0,1,8871,3660,8957
4,8671,34,1,1,1,1,2,1,0,1,...,31.0,20.423306,40.846612,167.815988,0,0,1,8871,4394,8957

In [295]:
data['Q4'] = data['Q4'].astype('object')
data['Q3'] = data['Q3'].astype('object')
data['Q2'] = data['Q2'].astype('object')
data['Q19'] = data['Q19'].astype('object')
data['Q16'] = data['Q16'].astype('object')
data['Q17'] = data['Q17'].astype('object')
data['Q15'] = data['Q15'].astype('object')
data['Q18'] = data['Q18'].astype('object')
data['Q5'] = data['Q5'].astype('object')
data['Q13'] = data['Q13'].astype('object')
#data['Q14'] = data['Q14'].astype('object')
data['Q9'] = data['Q9'].astype('object')
data['Q10'] = data['Q10'].astype('object')
data['Q11'] = data['Q11'].astype('object')
#data['Q6'] = data['Q6'].astype('object')
#data['Q7'] = data['Q7'].astype('object')

In [44]:
#pd.crosstab(data['region'], data['district'])

In [696]:
data['Q8_1'] = data['Q8_1'].astype('object')
data['Q8_2'] = data['Q8_2'].astype('object')
data['Q8_3'] = data['Q8_3'].astype('object')
data['Q8_4'] = data['Q8_4'].astype('object')
data['Q8_5'] = data['Q8_5'].astype('object')
data['Q8_6'] = data['Q8_6'].astype('object')
data['Q8_7'] = data['Q8_7'].astype('object')
data['Q8_8'] = data['Q8_8'].astype('object')
data['Q8_9'] = data['Q8_9'].astype('object')
data['Q8_10'] = data['Q8_10'].astype('object')
data['Q8_11'] = data['Q8_11'].astype('object')
#data['Q8_1'] = data['Q8_1'].astype('object')

In [63]:
data.columns

Index(['ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8_1', 'Q8_2', 'Q8_3',
       'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10', 'Q8_11', 'Q9',
       'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19',
       'Latitude', 'Longitude', 'HasData', '2016 Total Population',
       '2016 Purchasing Power: Total', 'district', 'region', 'latitude2',
       'longitude2', 'distance', 'distance_duumy', 'distance_bearing',
       'Q8_1_7', 'Q8_9_10', 'qs', 'Q8_1&Q9_trans', 'Q8_2&Q10_trans',
       'Q8_3&Q11_trans'],
      dtype='object')

In [661]:
data = data.drop(['Q8_1', 'Q8_2', 'Q8_3','Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10', 'Q8_11'], axis=1)

In [296]:
data['lat_lon'] = data['Latitude'] + data['Longitude']

In [297]:
data = data.drop('ID', axis=1)

In [298]:
data = pd.get_dummies(data)

In [299]:
data.head()

,Q1,Q6,Q7,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,...,region_Mtwara,region_Mwanza,region_Pwani,region_Rukwa,region_Ruvuma,region_Shinyanga,region_Singida,region_Tabora,region_Tanga,region_Zanzibar
0,98,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,18,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,50,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,34,2,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [300]:
# Splitting test and train data
train_df=data[:len_train]
test_df=data[len_train:]

In [301]:
# Removing Price from independen t variable data and keeping only price in the other
X = train_df
y= mobile

In [355]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [356]:
import xgboost as xgb

In [357]:
from catboost import CatBoostClassifier

In [317]:
cat = CatBoostClassifier(loss_function='MultiClass')

In [392]:
xgb = XGBClassifier(max_depth=4, n_estimators=200,silent=False)

In [248]:
#gb =XGBClassifier(n_estimators=200, objective='multi:softprob',gamma=0.5,colsample_bylevel=0.7) CatBoostClassifier(loss_function='MultiClass')

In [381]:
for i in range(5):
    cb_model = CatBoostClassifier(iterations=500,
                              learning_rate=0.1,
                              depth=4,loss_function='MultiClass',#,scale_pos_weight=200,
                             l2_leaf_reg=10,
                             bootstrap_type='Bernoulli',
                              subsample=0.7,
                              #eval_metric='Logloss',
                              metric_period=20,
                              #od_type='Iter',
                              #od_wait=45,
                              random_seed=42,
                              allow_writing_files=False)

In [394]:
xgb.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=4, min_child_weight=1, missing=None, n_estimators=200,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=False, subsample=1)

In [395]:
#y_xg = cb_model.predict_proba(X_test)
y_xg = xgb.predict_proba(X_test)

In [384]:
#y_xg = cat.predict_proba(X_test)

In [396]:
#preds = cb_model.predict_proba(X)
preds = xgb.predict_proba(X)

In [386]:
#preds = cat.predict_proba(X)

In [397]:
from sklearn.metrics import log_loss

In [398]:
log_loss(y, preds)

0.55942190279433213

## for test set

In [399]:
#test_set_predictions =  cb_model.predict_proba(test_df)
test_set_predictions =  xgb.predict_proba(test_df)

In [400]:
d = {"ID": test["ID"], 'no_financial_services':test_set_predictions[:, 0], 'other_only':test_set_predictions[:, 1],
    'mm_only':test_set_predictions[:, 2], 'mm_plus':test_set_predictions[:, 3]}
df_predictions = pd.DataFrame(data=d)
df_predictions = df_predictions[["ID", 'no_financial_services','other_only','mm_only','mm_plus']]

In [401]:
df_predictions.head()

     ID  no_financial_services  other_only   mm_only   mm_plus
0  3669               0.004950    0.028305  0.251798  0.714947
1  5223               0.001194    0.012970  0.053893  0.931943
2  7275               0.000411    0.001813  0.111476  0.886300
3  7459               0.212821    0.735873  0.020035  0.031270
4  3547               0.000365    0.001597  0.027082  0.970956

In [402]:
df_predictions.to_csv('zt168.csv',index=False)