In [0]:
import pandas as pd

In [0]:
a  = pd.read_csv("/content/newest.csv")
b  = pd.read_csv("/content/lsub_en.csv")
c  = pd.read_csv("/content/agg.csv")

In [0]:
c.target  = c.target*0.7+ b.target*0.3

In [0]:
a.target  = c.target*0.6 + a.target*0.4

In [50]:
a.head()

        Place_ID X Date     target
0  0OS9LVX X 2020-01-02  56.298783
1  0OS9LVX X 2020-01-03  35.279485
2  0OS9LVX X 2020-01-04  33.997156
3  0OS9LVX X 2020-01-05  35.757393
4  0OS9LVX X 2020-01-06  33.055344

In [0]:
a.to_csv("newme (1).csv",index  = False)

In [0]:
from google.colab import files

In [0]:
files.download("newme (1).csv")

In [0]:
# holars stack with mine
d = pd.read_csv("/content/en_stack4.csv")
e = pd.read_csv("/content/lastagg.csv")

In [0]:
d.target  = d.target*0.7 + e.target*0.3

In [0]:
d.to_csv("enstackj (6).csv",index  = False)

In [0]:
files.download("enstackj (6).csv")