In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load lgbm predictions
lgb = pd.read_csv('./output/test_preds.csv')
lgb.head()

   Sample_ID     Label
0      10865  0.012624
1      10866  0.000056
2      10867  0.000157
3      10868  0.196443
4      10869  0.995953

In [4]:
# Load catboost predictions
cat = pd.read_csv('./output/catboost_test_preds.csv')
cat.head()

      id  Label
0  10865    0.2
1  10866    0.0
2  10867    0.0
3  10868    1.0
4  10869    1.0

In [5]:
# Measure predictions correlation
np.corrcoef(lgb['Label'], cat['Label'])

array([[1.      , 0.874297],
       [0.874297, 1.      ]])

In [6]:
# Ensemble predictions
sub = lgb.copy()
sub['Label'] = (2*lgb['Label'] + cat['Label'])/3
sub.head()

   Sample_ID     Label
0      10865  0.075083
1      10866  0.000037
2      10867  0.000105
3      10868  0.464295
4      10869  0.997302

In [7]:
# Predictions binarization
sub['Label'] = np.where(sub['Label'] > 0.3, 1, 0)
sub.head()

   Sample_ID  Label
0      10865      0
1      10866      0
2      10867      0
3      10868      1
4      10869      1

In [10]:
sub.to_csv('./output/ensemble_2.csv', index=False)